@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Primary Color & Variants */
    --primary-main: #3951AB;
    --primary-surface: #E6EBF7;
    --primary-border: #B3C1D9;
    --primary-focus: #CAD7F0;
    --primary-hover: #173E94;
    --primary-pressed: #0B204E;
    --primary-disabled: #E6EBF7;

    /* Neutral Color & Variants */
    --neutral-primary: #191B22;
    --neutral-secondary: #213A5F;
    --neutral-disabled: #8191AC;
    --neutral-border: #E5E5E5;
    --neutral-surface: #F4F5F6;
    --neutral-white: #FFFFFF;

    /* Semantic Colors & Variants */
    /* Success */
    --success-main: #2ECC71;
    --success-surface: #E8F8EE;
    --success-border: #A1E0C5;
    --success-focus: rgba(46, 204, 113, 0.2);
    --success-hover: #28B77D;
    --success-pressed: #017E54;
    --success-disabled: #E8F8EE;

    /* Info */
    --info-main: #3498DB;
    --info-surface: #E9F5FB;
    --info-border: #BBE4F7;
    --info-focus: rgba(52, 152, 219, 0.2);
    --info-hover: #2A80A6;
    --info-pressed: #1C607A;
    --info-disabled: #E9F5FB;

    /* Warning */
    --warning-main: #F39C12;
    --warning-surface: #FFF9E6;
    --warning-border: #FFE6B8;
    --warning-focus: rgba(243, 156, 18, 0.2);
    --warning-hover: #D1860D;
    --warning-pressed: #8C701F;
    --warning-disabled: #FFF9E6;

    /* Danger */
    --danger-main: #E74C3C;
    --danger-surface: #FFECEC;
    --danger-border: #FFBEBF;
    --danger-focus: rgba(231, 76, 60, 0.2);
    --danger-hover: #D02E22;
    --danger-pressed: #8F1F17;
    --danger-disabled: #FFECEC;

    /* Additional Color */
    --main: #29939D;
    --surface: #B4E5E6;
    --dark: #333333;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.container{
    width: 100%;
    padding: 0 140px;
    margin: 0 auto;
    max-width: 1440px;
}

/* Typography Section */

p{
    margin-top: 0;
    margin-bottom: 0;
}

.h1{
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.5px;
    margin-top: 0;   
    margin-bottom: 0.5rem;
}

.h2{
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.5px;
    margin-top: 0;   
    margin-bottom: 0.5rem;
}

.h3{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.5px;
    margin-top: 0;   
    margin-bottom: 0.5rem;
}

.h4{
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.5px;
    margin-top: 0;   
    margin-bottom: 0.5rem;    
}

.h5{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-top: 0;   
    margin-bottom: 0.5rem;
}

.body-super-large-semi-bold{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;   
}

.body-super-large-reguler{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;   
}

.body-large-semi-bold{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;    
}

.body-large-reguler{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;    
}

.body-medium-semi-bold{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
}

.body-medium{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
}

.body-medium-reguler{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
}

.body-small-bold{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
}

.body-small-semi-bold{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
}

.body-small-medium{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
}

.body-small-reguler{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;    
}

.caption-semi-bold{
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;    
}

.caption-reguler{
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;    
}

.caption-light{
    font-size: 10px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;
}

.default-text-input{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
}

.default-text-medium{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
}

/* End of Typography Section */

/* Input Section */

input{
    border-radius: 8px;
    padding: 14px;
    gap: 8px;
    background-color: #F5F6F7;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    color: var(--neutral-primary);
    border: none;
}

input::placeholder{
    color: var(--neutral-disabled);
}

input:focus{
    background-color: var(--neutral-white);
    outline: 2px solid #718284;
}

input:invalid{
    background-color: var(--neutral-white);
    outline: 1px solid var(--danger-main);
}

/* End of Input Section */

/* Spacing Section */

.gap-1{
    gap: 4px;
}

.gap-2{
    gap: 8px;
}

.gap-3{
    gap: 16px;
}

.gap-4{
    gap: 24px;
}

.gap-5{
    gap: 32px;
}

.gap-6{
    gap: 40px;

}

.flex{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

/* End of Spacing Section */