@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Primary Color & Variants */
    --primary-main: #3951AB;
    --primary-surface: #E6EBF7;
    --primary-border: #B3C1D9;
    --primary-focus: #CAD7F0;
    --primary-hover: #173E94;
    --primary-pressed: #0B204E;
    --primary-disabled: #E6EBF7;

    /* Neutral Color & Variants */
    --neutral-primary: #191B22;
    --neutral-secondary: #213A5F;
    --neutral-disabled: #8191AC;
    --neutral-border: #E5E5E5;
    --neutral-surface: #FAFAFA;
    --neutral-white: #FFFFFF;

    /* Semantic Colors & Variants */
    /* Success */
    --success-main: #2ECC71;
    --success-surface: #E8F8EE;
    --success-border: #A1E0C5;
    --success-focus: rgba(46, 204, 113, 0.2);
    --success-hover: #28B77D;
    --success-pressed: #017E54;
    --success-disabled: #E8F8EE;

    /* Info */
    --info-main: #3498DB;
    --info-surface: #E9F5FB;
    --info-border: #BBE4F7;
    --info-focus: rgba(52, 152, 219, 0.2);
    --info-hover: #2A80A6;
    --info-pressed: #1C607A;
    --info-disabled: #E9F5FB;

    /* Warning */
    --warning-main: #F39C12;
    --warning-surface: #FFF9E6;
    --warning-border: #FFE6B8;
    --warning-focus: rgba(243, 156, 18, 0.2);
    --warning-hover: #D1860D;
    --warning-pressed: #8C701F;
    --warning-disabled: #FFF9E6;

    /* Danger */
    --danger-main: #E74C3C;
    --danger-surface: #FFECEC;
    --danger-border: #FFBEBF;
    --danger-focus: rgba(231, 76, 60, 0.2);
    --danger-hover: #D02E22;
    --danger-pressed: #8F1F17;
    --danger-disabled: #FFECEC;

    /* Additional Color */
    --main: #29939D;
    --surface: #B4E5E6;
    --dark: #333333;
    --secondary: #263560;
    --hover: #E9F1FF;
}

html {
    font-size: 16px;
    color: var(--dark);
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.section { padding: 5rem 0; }

main { overflow-x: hidden; }

.neutral-wrapper{
    background-color: var(--neutral-surface);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.bg-neutral-surface{
    background-color: var(--neutral-surface) !important;
}

.bg-neutral-white{
    background-color: var(--neutral-white);
}

.container { width: 100%; margin: 0 auto; padding: 0 0.75rem; }

/* Typography Section */

p { margin-top: 0; margin-bottom: 0; }

.h1, h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.h2, h2 {
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.h3, h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.h4, h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.h5, h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.body-super-large-semi-bold {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
}

.body-super-large-reguler {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
}

.body-large-semi-bold {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
}

.body-large-reguler {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
}

.body-medium-semi-bold {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
}

.body-medium {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
}

.body-medium-reguler {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
}

.body-medium-light{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.body-small-bold {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
}

.body-small-semi-bold {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
}

.body-small-medium {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
}

.body-small-reguler {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
}

.body-small-light {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.caption-semi-bold {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
}

.caption-reguler {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;
}

.caption-reguler-thin{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;
}

.caption-semi-light{
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
}

.caption-light {
    font-size: 10px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;
}

.caption-small-reguler{
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;
}

.default-text-input {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
}

.default-text-medium {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
}

a {
    color: var(--dark);
    display: block;
    text-decoration: none;
}

.link { 
    color: var(--neutral-disabled);
    font-weight: 400 !important;
    line-height: 18px !important;
    text-decoration: underline !important; 
}

.text-center{ text-align: center !important; }

.text-start{ text-align: start !important; }

.text-end { text-align: end !important; }

/* End of Typography Section */

/* Text Color Section */

.tc-primary-main { color: var(--primary-main); }
.tc-primary-surface { color: var(--primary-surface); }
.tc-primary-border { color: var(--primary-border); }
.tc-primary-focus { color: var(--primary-focus); }
.tc-primary-hover { color: var(--primary-hover); }
.tc-primary-pressed { color: var(--primary-pressed); }
.tc-primary-disabled { color: var(--primary-disabled); }

.tc-neutral-primary { color: var(--neutral-primary); }
.tc-neutral-secondary { color: var(--neutral-secondary); }
.tc-neutral-disabled { color: var(--neutral-disabled); }
.tc-neutral-border { color: var(--neutral-border); }
.tc-neutral-surface { color: var(--neutral-surface); }
.tc-neutral-white { color: var(--neutral-white); }

.tc-success-main { color: var(--success-main); }
.tc-success-surface { color: var(--success-surface); }
.tc-success-border { color: var(--success-border); }
.tc-success-focus { color: var(--success-focus); }
.tc-success-hover { color: var(--success-hover); }
.tc-success-pressed { color: var(--success-pressed); }
.tc-success-disabled { color: var(--success-disabled); }

.tc-info-main { color: var(--info-main); }
.tc-info-surface { color: var(--info-surface); }
.tc-info-border { color: var(--info-border); }
.tc-info-focus { color: var(--info-focus); }
.tc-info-hover { color: var(--info-hover); }
.tc-info-pressed { color: var(--info-pressed); }
.tc-info-disabled { color: var(--info-disabled); }

.tc-warning-main { color: var(--warning-main); }
.tc-warning-surface { color: var(--warning-surface); }
.tc-warning-border { color: var(--warning-border); }
.tc-warning-focus { color: var(--warning-focus); }
.tc-warning-hover { color: var(--warning-hover); }
.tc-warning-pressed { color: var(--warning-pressed); }
.tc-warning-disabled { color: var(--warning-disabled); }

.tc-danger-main { color: var(--danger-main); }
.tc-danger-surface { color: var(--danger-surface); } 
.tc-danger-border { color: var(--danger-border); }
.tc-danger-focus { color: var(--danger-focus); }
.tc-danger-hover { color: var(--danger-hover); }
.tc-danger-pressed { color: var(--danger-pressed); }
.tc-danger-disabled { color: var(--danger-disabled); }

.tc-main { color: var(--main); }
.tc-surface { color: var(--surface); }
.tc-dark { color: var(--dark); }
.tc-secondary { color: var(--secondary); }

/* End of Text Color Section */

/* Spacing Section */

.m-1 { margin: 0.25rem !important; }
.m-2 { margin: 0.5rem !important; }
.m-3 { margin: 1rem !important; }
.m-4 { margin: 1.5rem !important; }
.m-5 { margin: 2rem !important; }
.m-6 { margin: 2.5rem !important; }
.m-7 { margin: 3rem !important; }
.m-8 { margin: 3.5rem !important; }

.mt-1 { margin-top: 0.25rem !important; }
.mt-2 { margin-top: 0.5rem !important; }
.mt-3 { margin-top: 1rem !important; } /* 16px */
.mt-4 { margin-top: 1.5rem !important; }
.mt-5 { margin-top: 2rem !important; }
.mt-6 { margin-top: 2.5rem !important; }
.mt-7 { margin-top: 3rem !important; }
.mt-8 { margin-top: 3.5rem !important; }

.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 0.25rem !important; }
.mb-2 { margin-bottom: 0.5rem !important; }
.mb-3 { margin-bottom: 1rem !important; }
.mb-4 { margin-bottom: 1.5rem !important; }
.mb-5 { margin-bottom: 2rem !important; }
.mb-6 { margin-bottom: 2.5rem !important; }
.mb-7 { margin-bottom: 3rem !important; }
.mb-8 { margin-bottom: 3.5rem !important; }

.ml-1 { margin-left: 0.25rem !important; }
.ml-2 { margin-left: 0.5rem !important; }
.ml-3 { margin-left: 1rem !important; }
.ml-4 { margin-left: 1.5rem !important; }
.ml-5 { margin-left: 2rem !important; }
.ml-6 { margin-left: 2.5rem !important; }
.ml-7 { margin-left: 3rem !important; }
.ml-8 { margin-left: 3.5rem !important; }

.mr-1 { margin-right: 0.25rem !important; }
.mr-2 { margin-right: 0.5rem !important; }
.mr-3 { margin-right: 1rem !important; }
.mr-4 { margin-right: 1.5rem !important; }
.mr-5 { margin-right: 2rem !important; }
.mr-6 { margin-right: 2.5rem !important; }
.mr-7 { margin-right: 3rem !important; }
.mr-8 { margin-right: 3.5rem !important; }

.my-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.my-1 { margin-top: 0.25rem !important; margin-bottom: 0.25rem !important; }
.my-2 { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
.my-3 { margin-top: 1rem !important; margin-bottom: 1rem !important; }
.my-4 { margin-top: 0.25rem !important; margin-bottom: 1.5rem !important; }
.my-5 { margin-top: 2rem !important; margin-bottom: 2rem !important; }
.my-6 { margin-top: 2.5rem !important; margin-bottom: 2.5rem !important; }
.my-7 { margin-top: 3rem !important; margin-bottom: 3rem !important; }
.my-8 { margin-top: 3.5rem !important; margin-bottom: 3.5rem !important; }

.mx-0 { margin-left: 0 !important; margin-right: 0 !important; }
.mx-1 { margin-left: 0.25rem !important; margin-right: 0.25rem !important; }
.mx-2 { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
.mx-3 { margin-left: 1rem !important; margin-right: 1rem !important; }
.mx-4 { margin-left: 1.5rem !important; margin-right: 1.5rem !important; }
.mx-5 { margin-left: 2rem !important; margin-right: 2rem !important; }
.mx-6 { margin-left: 2.5rem !important; margin-right: 2.5rem !important; }
.mx-7 { margin-left: 3rem !important; margin-right: 3rem !important; }
.mx-8 { margin-left: 3.5rem !important; margin-right: 3.5rem !important; }

.ml-auto { margin-left: auto !important; }
.mr-auto { margin-right: auto !important; }
.mt-auto { margin-top: auto !important; }
.mb-auto { margin-bottom: auto !important; }
.my-auto { margin-top: auto !important; margin-bottom: auto !important; }
.mx-auto { margin-left: auto !important; margin-right: auto !important; }

.p-standard { padding: 0.875rem; }

.p-0 { padding: 0 !important; }
.p-1 { padding: 0.25rem !important; }
.p-2 { padding: 0.5rem !important; }
.p-3 { padding: 1rem !important; }
.p-4 { padding: 1.5rem !important; }
.p-5 { padding: 2rem !important; }
.p-6 { padding: 2.5rem !important; }
.p-7 { padding: 3rem !important; }
.p-8 { padding: 3.5rem !important; }

.pt-0 { padding-top: 0 !important; }
.pt-1 { padding-top: 0.25rem !important; }
.pt-2 { padding-top: 0.5rem !important; }
.pt-3 { padding-top: 1rem !important; }
.pt-4 { padding-top: 1.5rem !important; }
.pt-5 { padding-top: 2rem !important; }
.pt-6 { padding-top: 2.5rem !important; }
.pt-7 { padding-top: 3rem !important; }
.pt-8 { padding-top: 3.5rem !important; }

.pb-0 { padding-bottom: 0 !important; }
.pb-1 { padding-bottom: 0.25rem !important; }
.pb-2 { padding-bottom: 0.5rem !important; }
.pb-3 { padding-bottom: 1rem !important; }
.pb-4 { padding-bottom: 1.5rem !important; }
.pb-5 { padding-bottom: 2rem !important; }
.pb-6 { padding-bottom: 2.5rem !important; }
.pb-7 { padding-bottom: 3rem !important; }
.pb-8 { padding-bottom: 3.5rem !important; }

.pl-0 { padding-left: 0 !important; }
.pl-1 { padding-left: 0.25rem !important; }
.pl-2 { padding-left: 0.5rem !important; }
.pl-3 { padding-left: 1rem !important; }
.pl-4 { padding-left: 1.5rem !important; }
.pl-5 { padding-left: 2rem !important; }
.pl-6 { padding-left: 2.5rem !important; }
.pl-7 { padding-left: 3rem !important; }
.pl-8 { padding-left: 3.5rem !important; }

.pr-0 { padding-right: 0 !important; }
.pr-1 { padding-right: 0.25rem !important; }
.pr-2 { padding-right: 0.5rem !important; }
.pr-3 { padding-right: 1rem !important; }
.pr-4 { padding-right: 1.5rem !important; }
.pr-5 { padding-right: 2rem !important; }
.pr-6 { padding-right: 2.5rem !important; }
.pr-7 { padding-right: 3rem !important; }
.pr-8 { padding-right: 3.5rem !important; }

.py-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.py-1 { padding-top: 0.25rem !important; padding-bottom: 0.25rem !important; }
.py-2 { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }
.py-3 { padding-top: 1rem !important; padding-bottom: 1rem !important; }
.py-4 { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important; }
.py-5 { padding-top: 2rem !important; padding-bottom: 2rem !important; }
.py-6 { padding-top: 2.5rem !important; padding-bottom: 2.5rem !important; }
.py-7 { padding-top: 3rem !important; padding-bottom: 3rem !important; }
.py-8 { padding-top: 3.5rem !important; padding-bottom: 3.5rem !important; }

.px-0 { padding-left: 0 !important; padding-right: 0 !important; }
.px-1 { padding-left: 0.25rem !important; padding-right: 0.25rem !important; }
.px-2 { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }
.px-3 { padding-left: 1rem !important; padding-right: 1rem !important; }
.px-4 { padding-left: 1.5rem !important; padding-right: 1.5rem !important; }
.px-5 { padding-left: 2rem !important; padding-right: 2rem !important; }
.px-6 { padding-left: 2.5rem !important; padding-right: 2.5rem !important; }
.px-7 { padding-left: 3rem !important; padding-right: 3rem !important; }
.px-8 { padding-left: 3.5rem !important; padding-right: 3.5rem !important; }

.py-auto { padding-top: auto !important; padding-bottom: auto !important; }
.px-auto { padding-left: auto !important; padding-right: auto !important; }

.flex { display: flex; flex-direction: row; }
.flex-column { display: flex; flex-direction: column; }
.flex-row-reverse { display: flex; flex-direction: row-reverse; }
.flex-column-reverse { display: flex; flex-direction: column-reverse; }
.flex-wrap { flex-wrap: wrap; }

.justify-content-start { justify-content: flex-start; }
.justify-content-end { justify-content: flex-end; }
.justify-content-center { justify-content: center; }
.justify-content-between { justify-content: space-between; }
.justify-content-around { justify-content: space-around; }
.justify-content-evenly { justify-content: space-evenly; }

.align-items-start { align-items: flex-start; }
.align-items-end { align-items: flex-end; }
.align-items-center { align-items: center; }
.align-items-baseline { align-items: baseline; } 
.align-items-stretch { align-items: stretch; }

.align-self-start { align-self: flex-start; }
.align-self-end { align-self: flex-end; }
.align-self-center { align-self: center; }
.align-self-baseline { align-self: baseline; }
.align-self-stretch { align-self: stretch; }

.grow-auto { flex-grow: 0; }
.grow-item { flex-grow: 1; }

.flex-item-1 { flex-basis: 8.333333%; flex-grow: 0; max-width: 8.333333%; }
.flex-item-2 { flex-basis: 16.666667%; flex-grow: 0; max-width: 16.666667%; }
.flex-item-3 { flex-basis: 25%; flex-grow: 0; max-width: 25%; }
.flex-item-4 { flex-basis: 33.333333%; flex-grow: 0; max-width: 33.333333%; }
.flex-item-5 { flex-basis: 41.666667%; flex-grow: 0; max-width: 41.666667%; }
.flex-item-6 { flex-basis: 50%; flex-grow: 0; max-width: 50%; }
.flex-item-7 { flex-basis: 58.333333%; flex-grow: 0; max-width: 58.333333%; }
.flex-item-8 { flex-basis: 66.666667%; flex-grow: 0; max-width: 66.666667%; }
.flex-item-9 { flex-basis: 75%; flex-grow: 0; max-width: 75%; }
.flex-item-10 { flex-basis: 83.333333%; flex-grow: 0; max-width: 83.333333%; }
.flex-item-11 { flex-basis: 91.666667%; flex-grow: 0; max-width: 91.666667%; }
.flex-item-12 { flex-basis: 100%; flex-grow: 0; max-width: 100%; }

/* End of Spacing Section */

/* Sizing Section */

.h-100 { height: 100%; }
.h-75 { height: 75%; }
.h-50 { height: 50%; }

.w-100 { width: 100%; }
.w-75 { width: 75%; }
.w-50 { width: 50%; }
.w-25 { width: 25%; }

/* End of Sizing Section */

/* Card Section */

.card {
    display: flex;
    flex-direction: column;
    background-clip: border-box;
    background-color: var(--neutral-white);
    padding: 0.875rem;
    border-radius: 0.5rem;
}

.radius-sm{
    border-radius: 0.25rem !important;
}

.radius-md{
    border-radius: 0.5rem !important;
}

.radius-sm-top{
    border-radius: 0.25rem 0.25rem 0 0 !important;
}

.radius-sm-bottom{
    border-radius: 0 0 0.25rem 0.25rem !important;
}

.primary-border{
    border: 1px solid var(--primary-border);
}

.neutral-border{
    border: 1px solid var(--neutral-border) !important;
}

.neutral-border-left{
    border-left: 1px solid var(--neutral-border) !important;
}

.neutral-border-right{
    border-right: 1px solid var(--neutral-border) !important;
}

.neutral-border-top{
    border-top: 1px solid var(--neutral-border) !important;
}

.neutral-border-bottom{
    border-bottom: 1px solid var(--neutral-border) !important;
}

.success-border {
    border: 1px solid var(--success-main);
}

.card .card-body .card-img-fluid{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 0.875rem;
}

/* End of Card Section */


/* Position Section */

.position-absolute {
    position: absolute;
}

.position-relative { 
    position: relative;
}

/* End of Position Section */


/* Effect Section */

.drop-shadow { box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); }

/* End of Effect Section */

/* Grid Section */

.gap-standard { gap: 0.875rem; } /* 14 */
.gap-1 { gap: 0.25rem; } /* 4 */
.gap-2 { gap: 0.5rem; } /* 8 */
.gap-3 { gap: 1rem; } /* 16 */
.gap-4 { gap: 1.5rem; } /* 24 */
.gap-5 { gap: 2rem; } /* 32 */
.gap-6 { gap: 2.5rem; } /* 40 */
.gap-7 { gap: 3rem; } /* 48 */
.gap-8 { gap: 3.5rem; } /* 56 */

.row-gap-1 { row-gap: 0.25rem; }
.row-gap-2 { row-gap: 0.5rem; }
.row-gap-3 { row-gap: 1rem; }
.row-gap-4 { row-gap: 1.5rem; }
.row-gap-5 { row-gap: 2rem; }
.row-gap-6 { row-gap: 2.5rem; }
.row-gap-7 { row-gap: 3rem; }
.row-gap-8 { row-gap: 3.5rem; }

.col-gap-1 { column-gap: 0.25rem; }
.col-gap-2 { column-gap: 0.5rem; }
.col-gap-3 { column-gap: 1rem; }
.col-gap-4 { column-gap: 1.5rem; }
.col-gap-5 { column-gap: 2rem; }
.col-gap-6 { column-gap: 2.5rem; }
.col-gap-7 { column-gap: 3rem; }
.col-gap-8 { column-gap: 3.5rem; }

.row { display: flex; flex-wrap: wrap; margin-left: -.75rem; margin-right: -.75rem; }
.row > * { width: 100%; max-width: 100%; padding-left: .75rem; padding-right: .75rem; }

.col { flex: 1 0 0%; }
.col-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
.col-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
.col-3 { flex: 0 0 25%; max-width: 25%; }
.col-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
.col-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
.col-6 { flex: 0 0 50%; max-width: 50%; }
.col-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
.col-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
.col-9 { flex: 0 0 75%; max-width: 75%; }
.col-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
.col-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
.col-12 { flex: 0 0 100%; max-width: 100%; }

/* End of Grid Section */


/* Table Section */

.table-responsive {
    border: 1px solid var(--neutral-border);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-scroll {
    border: 1px solid var(--neutral-border);
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

.table {
    width: 100%;
    vertical-align: middle;
    border-color: var(--neutral-border);
    margin-bottom: 0;
    background-color: var(--neutral-white);
}

.table > thead {
    vertical-align: bottom;
}

.table th {
    padding: 1rem 1.25rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: start;
}

.table thead {
    border-bottom: 1px solid var(--neutral-border);
}

.table-border-bottom > tr {
    border-bottom: 1px solid var(--neutral-border);
}

.table-border-bottom > tr:last-child {
    border-bottom: transparent;
}

.table > tbody > tr > td {
    padding: 1rem 1.25rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
}

.table-stripped > tbody > tr:nth-child(odd){
    background-color: var(--neutral-surface);
}

.table-stripped > tbody > tr:nth-child(even){
    background-color: var(--neutral-white);
}

.number > thead > tr > th:first-child{
    width: 2rem;
    text-align: center;
}

.number > tbody > tr > td:first-child{
    width: 2rem;
    text-align: center;
}

/* End of Table Section */

/*Additional Section*/

.label-bullet{
    display: flex;
    align-items: center;
}

.label-bullet::before {
    content: "";
    display: block;
    width: clamp(10px, 12px, 14px);
    height: clamp(10px, 12px, 14px);
    border-radius: 100%;
    background-color: currentColor;
    margin-right: 8px;
}

.h-line-spaced {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    color: var(--primary-main);
}

.h-line-spaced::before,
.h-line-spaced::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--neutral-border);
    margin: 0 1rem;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    html { font-size: 12px; }

    .col-xs { flex: 0 0 auto; width: auto; }
    .col-xs-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
    .col-xs-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
    .col-xs-3 { flex: 0 0 25%; max-width: 25%; }
    .col-xs-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
    .col-xs-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
    .col-xs-6 { flex: 0 0 50%; max-width: 50%; }
    .col-xs-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
    .col-xs-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
    .col-xs-9 { flex: 0 0 75%; max-width: 75%; }
    .col-xs-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
    .col-xs-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
    .col-xs-12 { flex: 0 0 100%; max-width: 100%; }

    .gap-xs-1 { gap: 0.25rem; }
    .gap-xs-2 { gap: 0.5rem; }
    .gap-xs-3 { gap: 1rem; }
    .gap-xs-4 { gap: 1.5rem; }
    .gap-xs-5 { gap: 2rem; }
    .gap-xs-6 { gap: 2.5rem; }
    .gap-xs-7 { gap: 3rem; }
    .gap-xs-8 { gap: 3.5rem; }

    .flex-item-xs-1 { flex-basis: 8.333333%; flex-grow: 0; max-width: 8.333333%; }
    .flex-item-xs-2 { flex-basis: 16.666667%; flex-grow: 0; max-width: 16.666667%; }
    .flex-item-xs-3 { flex-basis: 25%; flex-grow: 0; max-width: 25%; }
    .flex-item-xs-4 { flex-basis: 33.333333%; flex-grow: 0; max-width: 33.333333%; }
    .flex-item-xs-5 { flex-basis: 41.666667%; flex-grow: 0; max-width: 41.666667%; }
    .flex-item-xs-6 { flex-basis: 50%; flex-grow: 0; max-width: 50%; }
    .flex-item-xs-7 { flex-basis: 58.333333%; flex-grow: 0; max-width: 58.333333%; }
    .flex-item-xs-8 { flex-basis: 66.666667%; flex-grow: 0; max-width: 66.666667%; }
    .flex-item-xs-9 { flex-basis: 75%; flex-grow: 0; max-width: 75%; }
    .flex-item-xs-10 { flex-basis: 83.333333%; flex-grow: 0; max-width: 83.333333%; }
    .flex-item-xs-11 { flex-basis: 91.666667%; flex-grow: 0; max-width: 91.666667%; }
    .flex-item-xs-12 { flex-basis: 100%; flex-grow: 0; max-width: 100%; }

    .grow-auto-xs { flex-grow: 0; }
    .grow-item-xs { flex-grow: 1; }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html { font-size: 12px; }

    .container { max-width: 540px ; }

    .col-sm { flex: 0 0 auto; width: auto; }
    .col-sm-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
    .col-sm-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
    .col-sm-3 { flex: 0 0 25%; max-width: 25%; }
    .col-sm-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
    .col-sm-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
    .col-sm-6 { flex: 0 0 50%; max-width: 50%; }
    .col-sm-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
    .col-sm-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
    .col-sm-9 { flex: 0 0 75%; max-width: 75%; }
    .col-sm-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
    .col-sm-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
    .col-sm-12 { flex: 0 0 100%; max-width: 100%; }

    .gap-sm-1 { gap: 0.25rem; }
    .gap-sm-2 { gap: 0.5rem; }
    .gap-sm-3 { gap: 1rem; }
    .gap-sm-4 { gap: 1.5rem; }
    .gap-sm-5 { gap: 2rem; }
    .gap-sm-6 { gap: 2.5rem; }
    .gap-sm-7 { gap: 3rem; }
    .gap-sm-8 { gap: 3.5rem; }

    .flex-item-sm-1 { flex-basis: 8.333333%; flex-grow: 0; max-width: 8.333333%; }
    .flex-item-sm-2 { flex-basis: 16.666667%; flex-grow: 0; max-width: 16.666667%; }
    .flex-item-sm-3 { flex-basis: 25%; flex-grow: 0; max-width: 25%; }
    .flex-item-sm-4 { flex-basis: 33.333333%; flex-grow: 0; max-width: 33.333333%; }
    .flex-item-sm-5 { flex-basis: 41.666667%; flex-grow: 0; max-width: 41.666667%; }
    .flex-item-sm-6 { flex-basis: 50%; flex-grow: 0; max-width: 50%; }
    .flex-item-sm-7 { flex-basis: 58.333333%; flex-grow: 0; max-width: 58.333333%; }
    .flex-item-sm-8 { flex-basis: 66.666667%; flex-grow: 0; max-width: 66.666667%; }
    .flex-item-sm-9 { flex-basis: 75%; flex-grow: 0; max-width: 75%; }
    .flex-item-sm-10 { flex-basis: 83.333333%; flex-grow: 0; max-width: 83.333333%; }
    .flex-item-sm-11 { flex-basis: 91.666667%; flex-grow: 0; max-width: 91.666667%; }
    .flex-item-sm-12 { flex-basis: 100%; flex-grow: 0; max-width: 100%; }

    .grow-auto-sm { flex-grow: 0; }
    .grow-item-sm { flex-grow: 1; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html { font-size: 14px; }

    .container { max-width: 720px; }

    .col-md { flex: 0 0 auto; width: auto; }
    .col-md-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
    .col-md-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
    .col-md-3 { flex: 0 0 25%; max-width: 25%; }
    .col-md-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
    .col-md-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
    .col-md-6 { flex: 0 0 50%; max-width: 50%; }
    .col-md-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
    .col-md-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
    .col-md-9 { flex: 0 0 75%; max-width: 75%; }
    .col-md-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
    .col-md-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
    .col-md-12 { flex: 0 0 100%; max-width: 100%; }

    .gap-md-1 { gap: 0.25rem; }
    .gap-md-2 { gap: 0.5rem; }
    .gap-md-3 { gap: 1rem; }
    .gap-md-4 { gap: 1.5rem; }
    .gap-md-5 { gap: 2rem; }
    .gap-md-6 { gap: 2.5rem; }
    .gap-md-7 { gap: 3rem; }
    .gap-md-8 { gap: 3.5rem; }

    .flex-item-md-1 { flex-basis: 8.333333%; flex-grow: 0; max-width: 8.333333%; }
    .flex-item-md-2 { flex-basis: 16.666667%; flex-grow: 0; max-width: 16.666667%; }
    .flex-item-md-3 { flex-basis: 25%; flex-grow: 0; max-width: 25%; }
    .flex-item-md-4 { flex-basis: 33.333333%; flex-grow: 0; max-width: 33.333333%; }
    .flex-item-md-5 { flex-basis: 41.666667%; flex-grow: 0; max-width: 41.666667%; }
    .flex-item-md-6 { flex-basis: 50%; flex-grow: 0; max-width: 50%; }
    .flex-item-md-7 { flex-basis: 58.333333%; flex-grow: 0; max-width: 58.333333%; }
    .flex-item-md-8 { flex-basis: 66.666667%; flex-grow: 0; max-width: 66.666667%; }
    .flex-item-md-9 { flex-basis: 75%; flex-grow: 0; max-width: 75%; }
    .flex-item-md-10 { flex-basis: 83.333333%; flex-grow: 0; max-width: 83.333333%; }
    .flex-item-md-11 { flex-basis: 91.666667%; flex-grow: 0; max-width: 91.666667%; }
    .flex-item-md-12 { flex-basis: 100%; flex-grow: 0; max-width: 100%; }

    .grow-auto-md { flex-grow: 0; }
    .grow-item-md { flex-grow: 1; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html { font-size: 16px; }

    .container { max-width: 960px; }

    .col-lg { flex: 0 0 auto; width: auto; }
    .col-lg-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
    .col-lg-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
    .col-lg-3 { flex: 0 0 25%; max-width: 25%; }
    .col-lg-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
    .col-lg-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
    .col-lg-6 { flex: 0 0 50%; max-width: 50%; }
    .col-lg-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
    .col-lg-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
    .col-lg-9 { flex: 0 0 75%; max-width: 75%; }
    .col-lg-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
    .col-lg-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
    .col-lg-12 { flex: 0 0 100%; max-width: 100%; }

    .gap-lg-1 { gap: 0.25rem; }
    .gap-lg-2 { gap: 0.5rem; }
    .gap-lg-3 { gap: 1rem; }
    .gap-lg-4 { gap: 1.5rem; }
    .gap-lg-5 { gap: 2rem; }
    .gap-lg-6 { gap: 2.5rem; }
    .gap-lg-7 { gap: 3rem; }
    .gap-lg-8 { gap: 3.5rem; }

    .flex-item-lg-1 { flex-basis: 8.333333%; flex-grow: 0; max-width: 8.333333%; }
    .flex-item-lg-2 { flex-basis: 16.666667%; flex-grow: 0; max-width: 16.666667%; }
    .flex-item-lg-3 { flex-basis: 25%; flex-grow: 0; max-width: 25%; }
    .flex-item-lg-4 { flex-basis: 33.333333%; flex-grow: 0; max-width: 33.333333%; }
    .flex-item-lg-5 { flex-basis: 41.666667%; flex-grow: 0; max-width: 41.666667%; }
    .flex-item-lg-6 { flex-basis: 50%; flex-grow: 0; max-width: 50%; }
    .flex-item-lg-7 { flex-basis: 58.333333%; flex-grow: 0; max-width: 58.333333%; }
    .flex-item-lg-8 { flex-basis: 66.666667%; flex-grow: 0; max-width: 66.666667%; }
    .flex-item-lg-9 { flex-basis: 75%; flex-grow: 0; max-width: 75%; }
    .flex-item-lg-10 { flex-basis: 83.333333%; flex-grow: 0; max-width: 83.333333%; }
    .flex-item-lg-11 { flex-basis: 91.666667%; flex-grow: 0; max-width: 91.666667%; }
    .flex-item-lg-12 { flex-basis: 100%; flex-grow: 0; max-width: 100%; }

    .grow-auto-lg { flex-grow: 0; }
    .grow-item-lg { flex-grow: 1; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html { font-size: 16px; }

    .container { max-width: 1140px; }

    .col-xl { flex: 0 0 auto; width: auto; }
    .col-xl-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
    .col-xl-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
    .col-xl-3 { flex: 0 0 25%; max-width: 25%; }
    .col-xl-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
    .col-xl-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
    .col-xl-6 { flex: 0 0 50%; max-width: 50%; }
    .col-xl-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
    .col-xl-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
    .col-xl-9 { flex: 0 0 75%; max-width: 75%; }
    .col-xl-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
    .col-xl-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
    .col-xl-12 { flex: 0 0 100%; max-width: 100%; }

    .gap-xl-1 { gap: 0.25rem; }
    .gap-xl-2 { gap: 0.5rem; }
    .gap-xl-3 { gap: 1rem; }
    .gap-xl-4 { gap: 1.5rem; }
    .gap-xl-5 { gap: 2rem; }
    .gap-xl-6 { gap: 2.5rem; }
    .gap-xl-7 { gap: 3rem; }
    .gap-xl-8 { gap: 3.5rem; }

    .flex-item-xl-1 { flex-basis: 8.333333%; flex-grow: 0; max-width: 8.333333%; }
    .flex-item-xl-2 { flex-basis: 16.666667%; flex-grow: 0; max-width: 16.666667%; }
    .flex-item-xl-3 { flex-basis: 25%; flex-grow: 0; max-width: 25%; }
    .flex-item-xl-4 { flex-basis: 33.333333%; flex-grow: 0; max-width: 33.333333%; }
    .flex-item-xl-5 { flex-basis: 41.666667%; flex-grow: 0; max-width: 41.666667%; }
    .flex-item-xl-6 { flex-basis: 50%; flex-grow: 0; max-width: 50%; }
    .flex-item-xl-7 { flex-basis: 58.333333%; flex-grow: 0; max-width: 58.333333%; }
    .flex-item-xl-8 { flex-basis: 66.666667%; flex-grow: 0; max-width: 66.666667%; }
    .flex-item-xl-9 { flex-basis: 75%; flex-grow: 0; max-width: 75%; }
    .flex-item-xl-10 { flex-basis: 83.333333%; flex-grow: 0; max-width: 83.333333%; }
    .flex-item-xl-11 { flex-basis: 91.666667%; flex-grow: 0; max-width: 91.666667%; }
    .flex-item-xl-12 { flex-basis: 100%; flex-grow: 0; max-width: 100%; }

    .grow-auto-xl { flex-grow: 0; }
    .grow-item-xl { flex-grow: 1; }
}

@media (min-width: 1400px) {
    .container { max-width: 1320px; }
}